.page2 {
  height: 963 px;
  background-color: #ffffff;
  padding-top: 100px;
  .obgortka {
    .WorkingProcess {
      h3 {
        font-size: 45px;
        font-weight: bold;
        span {
          color: #00730c;
        }
      }
    }
  }
}
