.section2 {
  display: flex;
  justify-content: space-evenly;
  .wrapper {
    max-width: 1192px;
    margin: auto;
    .gorizont {
      display: flex;
      .flaxContainer {
        display: flex;
        .imgContant {
          position: relative;
          max-width: 100%;
          width: 695px;
          height: 997px;
          display: block;
          margin: auto;
          .imgBgGreen {
            width: 450px;
            height: 706px;
            background: #00730c;
            position: absolute;
            right: 366px;
          }
          .imgBgGreey {
            width: 601px;
            height: 706px;
            background: #c4c4c4;
            position: absolute;
            left: -100px;
            top: 15px;
          }

          .imgBgSmall {
            position: absolute;
            width: 456px;
            height: 356px;
            background: #c4c4c4;
            border: 20px solid #ffffff;
            border-radius: 10px;
            right: 90px;
            top: 400px;
          }
        }
        .secionContent {
          display: flex;
          .iconMission {
            display: flex;
          }
        }
      }
    }
  }
}

.page {
  background-color: #0c4b35;
  .container {
    display: flex;
    align-items: center;
    max-width: 1192px;
    height: 655px;
    margin: auto;
    .choose_tex {
      .title-h3 {
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;
        padding-top: 100px;
      }
      .text {
        padding-top: 30px;
        font-size: 18px;
        color: #ffffff;
      }
      .choose_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        .choose_span {
          padding-top: 50px;
        }
      }
      .choose_btn {
        display: flex;
        width: 170px;
        height: 50px;
        border-radius: 5px;
        background-color: #00730c;
        align-items: center;
        margin-top: 50px;
        a {
          text-decoration: none;
          color: #ffffff;
          padding: 30px;
        }
        &:hover {
          background-color: #9fc21b;
        }
      }
    }
    .choose_caver {
      padding-top: 100px;
    }
  }
}

.page3 {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: red;
    font-size: 45px;
  }
  p {
    font-size: 45px;
    font-weight: bold;
    color: aqua;
    &:hover {
      color: blueviolet;
    }
  }
}
