.body {
  overflow-x: hidden;
}
.section2 {
  display: flex;
  justify-content: space-evenly;
  .wrapper {
    max-width: 1192px;
    margin: auto;
    .gorizont {
      display: flex;
      .flaxContainer {
        display: flex;
        .imgContant {
          position: relative;
          max-width: 100%;
          width: 695px;
          height: 997px;
          display: block;
          margin: auto;
          .imgBgGreen {
            width: 450px;
            height: 706px;
            background: #00730c;
            position: absolute;
            right: 250px;
          }
          .imgBgGreey {
            width: 601px;
            height: 706px;
            background: #c4c4c4;
            position: absolute;
            left: 15px;
            top: 15px;
          }

          .imgBgSmall {
            position: absolute;
            width: 456px;
            height: 356px;
            background: #c4c4c4;
            border: 20px solid #ffffff;
            border-radius: 10px;
            right: 55px;
            top: 400px;
          }
        }
        .secionContent {
          display: flex;
          .iconMission {
            display: flex;
          }
        }
      }
    }
  }
}

.page {
  background-color: #0c4b35;
  .container {
    display: flex;
    align-items: center;
    max-width: 1192px;
    height: 655px;
    margin: auto;
    .choose_tex {
      .title-h3 {
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;
        padding-top: 100px;
      }
      .text {
        padding-top: 30px;
        font-size: 18px;
        color: #ffffff;
      }
      .choose_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        .choose_span {
          padding-top: 50px;
        }
      }
      .choose_btn {
        display: flex;
        width: 170px;
        height: 50px;
        border-radius: 5px;
        background-color: #00730c;
        align-items: center;
        margin-top: 50px;
        a {
          text-decoration: none;
          color: #ffffff;
          padding: 30px;
        }
        &:hover {
          background-color: #9fc21b;
        }
      }
    }
    .choose_caver {
      padding-top: 100px;
    }
  }
}

.page3 {
  .container {
    max-width: 1192px;
    height: 655px;
    margin: auto;
    .Working_text {
      padding-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .title-h3 {
        font-size: 45px;
        font-weight: bold;
        span {
          color: #00730c;
        }
      }
      p {
        width: 1136px;
        padding-top: 20px;
        color: #676767;
        font-size: 20px;
        text-align: center;
      }

      .Working_cart {
        display: flex;
        gap: 7px;
        padding-top: 50px;
        .cart {
          width: 330px;
          height: 408px;
          background-color: #0c4b35;
          &:hover {
            background-color: #9fc21b;
          }

          .cart_conteiner {
            padding-top: 40px;
            display: flex;
            justify-content: space-around;
            img {
              width: 70px;
              height: 70px;
            }
          }
          .cart_content_text {
            padding-top: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
              font-size: 24px;
              color: #ffffff;
            }
            p {
              width: 270px;
              color: #ffffff;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.page4 {
  padding-top: 100px;
  .contenerPhone {
    max-width: 1192px;
    width: 100%;
    margin: auto;
    .CallNomberPhone {
      width: 1192px;
      height: 247px;
      background-color: #c4c4c4;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .titlePhone {
        font-size: 33px;
        color: #ffffff;
      }

      .rowPhone {
        // display: flex;
        .btnPhone {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 170px;
          height: 50px;
          padding: 0 13px 0 13px;
          background-color: #ffffff;
          &:hover {
            background-color: #9fc21b;
          }
          .imgPHone {
            width: 30px;
            height: 30px;
            background-image: url("img/phoneNomber.svg");
            background-repeat: no-repeat;
          }
          a {
            text-decoration: none;
            color: #00730c;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.psge5 {
  padding-top: 100px;
  .conteinerStaff {
    max-width: 1192px;
    width: 100%;
    margin: auto;
    .titleh3 {
      text-align: center;
      font-size: 45px;
      font-weight: bold;
      color: #000000;
      span {
        color: #00730c;
      }
    }
    .rowTextAndBtn {
      display: flex;
      padding-top: 30px;
      flex-direction: row;
      justify-content: space-between;
      .lorSomeText {
        width: 956px;
        height: 60px;
        color: #676767;
        font-size: 20px;
      }
      .btnDiscover {
        width: 170px;
        height: 50px;
        background-color: #00730c;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        &:hover {
          background-color: #9fc21b;
        }
      }
    }
  }
}

.page6 {
  padding-top: 50px;
  .conteinerDorisJordan {
    max-width: 1192px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 38px;
    .DorisJordan {
      width: 270px;
      height: 409px;
      background-color: #00730c;
      h5 {
        text-align: center;
        padding-top: 50%;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
      }
      p {
        text-align: center;
        padding-top: 10px;
        color: #ffffff;
        font-size: 18px;
      }
      .rowDorisJordan {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .social1 {
          background-image: url("img/Google.svg");
          width: 30px;
          height: 30px;
        }
        .social2 {
          background-image: url("img/facebook.svg");
          width: 30px;
          height: 30px;
        }
        .social3 {
          background-image: url("img/twitter.svg");
          width: 30px;
          height: 30px;
        }
        .social4 {
          background-image: url("img/pinterest.svg");
          width: 30px;
          height: 30px;
        }
        .social5 {
          background-image: url("img/linkedin.svg");
          width: 30px;
          height: 30px;
        }
      }
      .rowGrey {
        background-color: #676767;
      }

      .DorisJordan_grey {
        width: 270px;
        height: 318px;
        background-color: #676767;
      }
    }
  }
}

.page7 {
  padding-top: 100px;
  .conteinerQuestions {
    max-width: 1192px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .AskedQuestions {
      width: 50%;
      .textAskedQuestions {
        .Questions {
          font-size: 45px;
          font-weight: bold;
          color: #00730c;
        }
        span {
          color: #000000;
        }

        .textAsked {
          padding-top: 30px;
          font-size: 18px;
          color: #676767;
        }
      }
    }
    .wrapper {
      padding-top: 40px;
      .accordion {
        details {
          border: 1px solid #ddd;
          margin-bottom: 8px;
          border-radius: 5px;

          summary {
            padding: 30px;
            font-size: 18px;
            cursor: pointer;
            background-color: #fff8f1;

            &:hover {
              background-color: #00730c;
              color: #ffffff;
              font-size: 24px;
              font-weight: bold;
            }
          }

          p {
            padding: 15px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            color: #676767;
            font-size: 16px;
          }
        }
      }
    }
    .imgQuestions {
      width: 500px;
      height: 600px;
      background-color: #c4c4c4;
      p {
        padding-top: 50%;
        text-align: center;
        color: #676767;
        font-size: 58px;
      }
    }
  }
}

.page8 {
  padding-top: 100px;
  .conteinerArticles {
    max-width: 1192px;
    width: 100%;
    margin: auto;
    .titleContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 45px;
        font-weight: bold;
        color: #00730c;
        span {
          color: #000000;
        }
      }

      p {
        padding-top: 20px;
        text-align: center;
        width: 1136px;
        height: 60px;
        font-size: 20px;
        color: #676767;
      }
    }
    .ConteinerCards {
      display: flex;
      gap: 30px;
      .cars1 {
        width: 450px;
        height: 459px;
        background-color: #676767;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h5 {
          color: #ffffff;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        .wrapper {
          display: flex;
          justify-content: space-around;
        }
      }
      .cars2 {
        width: 450px;
        height: 459px;
        background-color: #f1eeeb;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h5 {
          color: #00730c;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        .wrapper {
          display: flex;
          justify-content: space-around;
        }
      }

      .btnCards {
        width: 170px;
        height: 35px;
        background-color: #d9f1e0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 30px;
        a {
          text-decoration: none;
          color: #00730c;
        }
      }

      .LoremIpsumDolor1 {
        text-align: center;
        color: #ffffff;
        font-size: 18px;

        a {
          color: #ffffff;
        }
      }

      .LoremIpsumDolor {
        text-align: center;
        color: #676767;
        font-size: 18px;

        a {
          color: #676767;
        }
      }
    }
  }
}

.page9 {
  padding-top: 100px;
  .wrapper {
    // max-width: 1192px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    .logoPartner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 202px;
      height: 100px;
      background-color: #c4c4c4;
    }
  }
}

.page10 {
  padding-top: 100px;
  .wrapperRow {
    width: 1192px;
    margin: auto;
    position: relative;
    top: -70px;
    .BanerBtn {
      width: 1192px;
      height: 125px;
      background-color: #d9f1e0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      .SomeText {
        font-size: 18px;
        font-weight: bold;
        span {
          color: #00730c;
        }
      }

      .btnGet {
        width: 175px;
        height: 58px;
        background-color: #00730c;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: #9fc21b;
        }
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

.footer {
  background-color: #0c4b35;
  // background-color: red;
  height: 550px;
  color: white;
  text-decoration: none;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  .wrapperRow {
    padding-top: 115px;
    width: 1192px;
    margin: auto;
    .OllContend {
      display: flex;
      justify-content: space-around;
      .SubscribeTo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        p {
          padding-top: 80px;
          font-size: 18px;
        }
        .containetEmail {
          padding-top: 80px;
          input:active,
          input:hover,
          input:focus {
            outline: none;
          }
          input {
            background: transparent;
          }

          .whiteLine {
            height: 1px;
            background: #ffffff;
            margin: 10 -5px;
          }
        }
      }
      .ContactNtxt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .UsefulLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;
        align-items: flex-start;

        .conteinerListMain {
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-around;

          .ListHome {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 30px;
          }
          .ListBlog {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 30px;
          }
        }
      }
      .PopularSevices {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 30px;
      }
    }
    .main_link_social {
      padding-top: 40px;
      display: flex;
      gap: 30px;
      .social {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: solid 1px #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #c4c4c4;
        }
      }
    }
  }

  .line {
    padding-top: 40px;
  }

  .LastText {
    display: flex;
    justify-content: space-around;
    .mainFoter {
      display: flex;
      gap: 30px;
    }
  }
}

#burger,
[for="burger"] {
  display: none;
}

@media (max-width: 768px) {
  .contact-menu {
    width: 100%;
  }
  .inf {
    display: none;
  }

  .cont {
    width: 100%;
    .logo {
      img {
        width: 90px;
        height: 40px;
      }
    }

    .menu {
      [for="burger"] {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 30px;
        text-align: center;
        right: -51px;
        top: 90px;
        width: 100%;
      }

      [for="burger"]::before {
        content: "☰";
      }
    }

    .menu-plants {
      width: 100%;
      display: none;
      position: fixed;
      top: 0;
      margin-top: 30px;
      li {
        width: 345px;
      }
    }

    #burger:checked + label + ul {
      display: block;
    }

    #burger:checked + ::before {
      content: "⮾";
    }

    .btn {
      span {
        display: none;
        width: 40px;
        height: 34px;
      }
    }
  }

  .bg {
    width: 100%;
    height: 812px;
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 375px;
  }

  .img {
    width: 375px;
    height: 240px;
  }

  .pageOne {
    width: 100%;
    // height: 1261px;
  }

  .Services {
    width: 375px;
    display: flex;

    h3 {
      font-size: 28px;
    }
    .lorenText {
      width: 375px !important;
      p {
        width: 344px;
        font-size: 14px;
      }
    }
  }

  .ConteinerForCsrds {
    width: 375px;
    height: 1260px;
    .oneSekcionCart {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      .Cards {
        width: 100%;
        margin-left: 220px;
      }
    }
  }

  .section2 {
    width: 100%;
    padding-top: 2335px;
    .wrapper {
      .gorizont {
        flex-direction: column;
        .secionContent {
          .cont {
            h3 {
              font-size: 28px;
            }
          }
        }
      }
    }

    .btn {
      display: none;
    }
  }

  .page {
    padding-top: 100px;
    .container {
      flex-direction: column;
    }
  }

  .page3 {
    padding-top: 400px;
    .container {
      .Working_text {
        .Working_cart {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .page4 {
    padding-top: 1400px;
    .contenerPhone {
      .CallNomberPhone {
        width: 100%;
        flex-direction: column;
      }
    }
  }

  .psge5 {
    .conteinerStaff {
      .rowTextAndBtn {
        flex-direction: column;
      }
    }
  }

  .page6 {
    .conteinerDorisJordan {
      flex-wrap: wrap;
    }
  }
  .page7 {
    .conteinerQuestions {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .page8 {
    .titleContent {
      flex-wrap: wrap;
      width: 375px;
      p {
        width: 345px !important;
        font-size: 14px;
      }
    }
    .ConteinerCards {
      padding-top: 100px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .page9 {
    .wrapper {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .page10 {
    .wrapperRow {
      .BanerBtn {
        flex-direction: column;
        width: 670px !important;
      }
    }
  }
  footer {
    width: 100%;
    height: 1300px !important;
    .wrapperRow {
      .OllContend {
        flex-direction: column;
      }
      .main_link_social {
        flex-direction: column;
      }
    }
  }
}
